
body{
    background-color: rgb(223, 219, 228);
}

.letra_morada{
    color:purple
}

header h1{
    align-items: end;
    background-color: red;
    border-radius: .3rem;
    color: white;
    text-align: center;
    max-width: 80%;
    margin: 0;
    padding-top: .8rem;
    padding-bottom: .8rem;
    text-transform: uppercase;
    margin:0 auto;
    margin-top: 1rem;
}



nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;

    background-color: rgb(13, 13, 187);
    max-width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: .3rem;
    color: white;
    align-items: end;
    padding-top: 1rem;
    padding: 1rem 0;
}

nav ul li{
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

